{
  "presets": [
    [
      "latest",
      {
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}