{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
//    [
//      "transform-es2015-modules-commonjs",
//      {
//        "strictMode": false
//      }
//    ]
  ]
}