{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "target": {
          "uglify": true
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
