{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./src/components"],
          ["@views", "./src/views"],
          ["@utils", "./src/utils"],
          ["@assets", "./src/assets"],
          ["@stores", "./src/stores"],
          ["@routes", "./src/routes"]
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "react/static-property-placement": 0,
    "react/state-in-constructor": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0
  }
}
