{
  "env": {
    "browser": true
  },
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "max-len": [
      "error",
      100
    ],
    "react/jsx-indent": 0,
    "jsx-a11y/click-events-have-key-events": 1,
    "object-curly-newline": 0
  }
}