# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
.idea/

### VisualStudioCode template
.vscode/

### Node template
# Logs
logs
*.log

# Dependency directories
node_modules/

dist/
*.tar.gz

.DS_Store
