# Created by .ignore support plugin (hsz.mobi)

**/*.svg
#package.json
.umi
.umi-production
/dist
/static
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.idea
yarn.lock
