@base-size-small: 18px;
@base-size-nomal: 24px;
@base-size-large: 36px;
@base-size-xl: 48px;
@base-background-color: #ebebeb;

body {
  background: @base-background-color;
}

.fe-margin-nomal {
  margin: @base-size-nomal;
}

.fe-float-left {
  float: left;
}

.fe-float-right {
  float: right;
}

//清除浮动
.fe-clear:before, .fe-clear:after {
  clear: both;
}

.fe-clear:after {
  display: block;
  content: '';
}

.link-btn {
  color: #000000a6;
  background-color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #d9d9d9;
  padding: 6px 12px;
  line-height: 1.5;
  border-radius: 4px;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.link-btn:hover {
  color: #007bff;
}

.link-btn-primary {
  color: #fff;
  background-color: #007bff;
}

.link-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
}

.loadable-loading {
  text-align: center;
}